*{
  box-sizing: border-box;
  text-align: center;
}

.main-div{
  margin: 5rem;
}
.count-div{
  font-size: x-large;
  font-weight: bold;
}
.btn-div{
  padding: 1rem;
}
.btn{
  font-size: larger;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
}
.btn.one{
  margin-right: 1rem;
  background-color: green;
}
.btn.two{
  margin-left: 1rem;
  background-color: red;
}